{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Bids</h2>
    <ul class ='bidsView'>
        {% for bid in bids %}
        <li><a  style="font-weight: 600; font-size: 26px;" href="{% url 'listing' bid.listing.id %}">{{ bid.listing.title }}</a></li>
        <h3>Starting Price: ${{bid.listing.starting_bid}}</h3>
        <h3>My bid: ${{bid.bid}}</h3>
        {% if bid.listing.winner %}
        {% if bid.listing.winner.id == user.id %}
            <span style="color: blue; font-size: xx-large;">I won this!</span>
        {% else %}
            <span style="color: red; font-size: xx-large;">I lost this.</span>
        {% endif %}
    {% endif %}
    
      
        {% endfor %}

    </ul>
{% endblock %}
