{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

<form action="{% url 'createlisting' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control" autofocus type="text" name="title" placeholder="Title">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="description" placeholder="Description">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="starting_bid" placeholder="Starting Bid">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="image" placeholder="Image URL">
    </div>
        <div class="form-group">
            <label for="id_category">Category:</label>
            <select class="form-control" id="id_category" name="category">
            {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
            </select>
        </div>
      <div class="form-group">
        <label for="id_user">Created by:</label>
        <select class="form-control" id="id_user" name="user">
          {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
          {% endfor %}
        </select>
      </div>
      
   
    <input class="btn btn-primary" type="submit" value="Create Listing">


    </form>
{% endblock %}