{% extends "auctions/layout.html" %}

{% block body %}

{% if message %}
<div>{{ message }}</div>
{% endif %}
    <h1>Listing:
        {{ listing.title }}</h1>

    <img src="{{ listing.image }}" alt="{{ listing.title }}" width="500">

        <div class="wrapper">
            <div class="col-md-8">
                <h4>Description:</h4>
                <p>{{ listing.description }}</p>
                <h4>Bid description:</h4>

            </div>

            <div class="col-md-4">
                <bold>Starting bid: ${{ listing.starting_bid|floatformat:2 }}</bold>
                <p>{{ num_bids }} bids so far.</p>
                {% if mybidStatus %}
                <h1>        Already placed bid at ${{bid.bid}}.</h1>
                     
                     <form method="post">
                         {% csrf_token %}
                         {{ bid_form.as_p }}
                         <input type="submit" value="Edit Bid"/>
                     </form>

                     {% else %}
                     <form method="post">
                        {% csrf_token %}
                        {{ bid_form.as_p }}
                        <input type="submit" value="Place Bid"/>
                    </form>
                     
                     {% endif %}
     
          
             
                <br></div>
                <div>
                    <h2>Details</h2>
                    <ul>
                        <p>Listed by:
                            {{ listing.created_by }}</p>
                        <p>Category:
                            {{ listing.category }}</p>
                    </ul>
                </div>


            </div>
        {% endblock %}
